*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-container {
    background-color: #05b2aa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.437);
    width: 50vw;

}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: azure;
}

.login-mode {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
}
.login-card{
    background-color: #014241;
    padding: 15px;
    border-radius: 5px;
    margin: 0 10px;
    width: 200px;
    height: 150px;
    text-align: center;
    color: rgb(5, 196, 249);
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    display: flex;
}
