.pendingitem{
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    flex-direction: column;
    width: fit-content;
    margin: 1rem 0;
}

.pendingitem h2{
    margin: 0;
    color: #a94442;
    font-size: 1.2rem;
    text-align: left;
}

.pendingitemTable{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    min-height: fit-content !important
}
.pendingitemTable th, .pendingitemTable td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.pendingitemTable th{
    background-color: #f2f2f2;
    font-weight: bold;
}
.pendingitemTable tr:nth-child(even){
    background-color: #d8d6d6;
}
.pendingbtn{
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

.edit{
    background-color: #4CAF50;
}
.approve-btn{
    background-color: #008CBA;
    margin-left: 0.5rem;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    
}
.reject-btn{
    background-color: #f44336;
    margin-left: 0.5rem;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.approve-btn:hover{
    background-color: #007bb5;
}
.reject-btn:hover{
    background-color: #d32f2f;
}

