body {
    font-family: Arial, sans-serif;
    margin-top: 70px;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}
#symbol {
    display: none;
}

nav {
    background-color: #333;
    overflow: hidden;
    z-index: 1000;
    min-height: 50px;
    position: fixed;
    top: 0;
    width: 100vw;
    justify-items: end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #575757;
    border-radius: 4px;
}

.details {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 100%;
}


.notification_menu{
    position: relative;
    display: inline-block;
}

.notification_count {
    position: absolute;
    top: 3px;
    right: 0px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    display: none;
}


/* Tablet devices */
@media screen and (max-width: 1024px) {
    .piechart {
        width: 60vw;
    }
}

/* Mobile devices */
@media screen and (max-width: 768px) {
    .piesection {
        width: 100vw;
        min-height: auto;
    }
    
    .piechart {
        width: 90vw;
    }
}

/* Small phones */
@media screen and (max-width: 480px) {
    nav{
        padding: 0;
    }
    nav ul li {
        margin-right: 10px;
    }
    
    nav ul li a {
        padding: 10px 12px;
        font-size: 14px;
    }
    
    .piechart {
        width: 95vw;
        padding: 12px;
        margin: 0.5%;
    }
}